* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: "Nunito", serif;
}

.container {
  width: 400px;
  height: 300px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

#heart-1,
#heart-2,
#heart-3,
#heart-4 {
  width: 24px;
  height: 24px;
  position: absolute;
  clip-path: path(
    "M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"
  );
  cursor: pointer;
}

#heart-1 {
  display: none;
  background: #fea9de;
  z-index: 1;
  transform: scale(10);
}

#heart-2 {
  display: none;
  background: #fc79ba;
  z-index: 1;
  transform: scale(8);
}

#heart-3 {
  display: none;
  background: #ff3e80;
  z-index: 3;
  transform: scale(6);
}

#heart-4 {
  display: block;
  background: #fc264b;
  z-index: 3;
  transform: scale(4);
}
